<router-outlet>

</router-outlet>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" class="addMore" title="Feed">
      <ion-icon name="paper"></ion-icon>
      <!--<ion-label>Feed</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="messages" class="addMore" title="Messages">
      <ion-icon name="send"></ion-icon>
      <!--<ion-label>Messages</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="notifications" class="addMore" title="Notifications">
      <ion-icon name="notifications"></ion-icon>
      <!--<ion-label>Notifications</ion-label>-->
    </ion-tab-button>

<!--    <ion-tab-button tab="basket" class="addMore" title="Basket">
      <ion-icon name="basket"></ion-icon>
      &lt;!&ndash;<ion-label>Basket</ion-label>&ndash;&gt;
    </ion-tab-button>-->

    <ion-tab-button tab="settings" class="addMore" title="Settings">
      <ion-icon name="settings"></ion-icon>
      <!--<ion-label>Settings</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="provider-profile" *ngIf="isProvider" (click)="pushPage()" class="addMore" title="Profile">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
