.addMore{
  border: none;
  width: 32px;
  height: 32px;
  transition: all ease-in-out 0.2s;
  background-color: white;
  cursor: pointer;
}

.addMore:hover{
  border: 1px;
  background-color: white;
}
