
ion-toolbar {
}

ion-content {
  position: fixed;
}

.input {
  padding-top: 4%;
}

#loginButton {
  padding-top: 2%;
}

#text {
  padding-top: 2%;
  text-align: center;
}

.error {
  font-size: small;
}

.header{
  display: flex;
  justify-content: center;
  align-content: center;
}

.toolbar{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.title {
  display: flex;
  width: inherit;
  text-align: center;
}

.form{
  display: block;
  width: 90%;
  margin: auto;
}
