
#toolbar {
  position: sticky;
}

#title {
  text-align: center;
}

#content {
  position: fixed;
  top: 10%;
  bottom: 0;
  height: 90%;
}

#form {
  padding: 5%;
}

.input {
  margin-top: 4%;
}

.error {
  font-size: small;
}

#loginButton {
  margin-top: 5%;
}

#text {
  padding: 2%;
  text-align: center;
}
