<ion-header>
  <ion-toolbar id="toolbar" color="primary">
    <ion-title id="title">Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
    <form id="form" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
        <ion-item class="input">
            <ion-label position="floating">Name</ion-label>
            <ion-input value="" formControlName="name" type="text"></ion-input>
            <ion-icon name="person" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('name').hasError('required')">
            Name is required
        </ion-label>

        <ion-item class="input">
            <ion-label position="floating">Username</ion-label>
            <ion-input value="" formControlName="username" type="text"></ion-input>
            <ion-icon name="contact" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('username').hasError('required')">
            Username is required
        </ion-label>

        <ion-item class="input">
            <ion-label position="floating">Email</ion-label>
            <ion-input value="" formControlName="email" type="email"></ion-input>
            <ion-icon name="mail" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('email').hasError('required')">
            Email is required
        </ion-label>

        <ion-label class="error" color="danger" *ngIf="signupForm.get('email').hasError('pattern') && !signupForm.get('email').hasError('required')">
            Invalid Email address
        </ion-label>

        <ion-item class="input">
            <ion-label position="floating">Password</ion-label>
            <ion-input value="" formControlName="password" type="password"></ion-input>
            <ion-icon name="key" slot="end" align-self-center></ion-icon>
        </ion-item>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('password').hasError('required')">
            Password is required
        </ion-label>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('password').hasError('minlength') && !signupForm.get('password').hasError('required')">
            Min 6 characters
        </ion-label>

        <ion-item class="input">
            <ion-label position="floating">Repeat Password</ion-label>
            <ion-input value="" formControlName="repeatpassword" type="password"></ion-input>
            <ion-icon name="key" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('repeatpassword').hasError('required')">
            Repeat Password is required
        </ion-label>
        <ion-label class="error" color="danger" *ngIf="signupForm.get('repeatpassword').hasError('minlength') && !signupForm.get('repeatpassword').hasError('required')">
            Min 6 characters
        </ion-label>

        <ion-button id="signupButton" [disabled]="!signupForm.valid || signupForm.get('password').value !== signupForm.get('repeatpassword').value" type="submit" expand="block" size="large" color="primary">
            Sign Up
        </ion-button>
    </form>

    <div id="text">
        <p>Already have an Account?</p>
        <p>Login
            <ion-label color="primary" routerLink="/login" routerDirection="back">here</ion-label>
        </p>
    </div>
</ion-content>
