<ion-header class="header">
    <ion-toolbar class="toolbar"color="primary">
        <ion-title class="title" no-padding><p>Sign up to EMA</p></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form name="signupform" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm.value)" class="form">
        <ion-list>


            <ion-item no-padding>
                <ion-label position="floating">Your Name</ion-label>
                <ion-input [(ngModel)]="name" id="name" name="name" type='text'></ion-input>
                <ion-icon name="person" slot="end"></ion-icon>
            </ion-item>

            <ion-item class="item" no-padding>
                <ion-label position="floating">Username</ion-label>
                <ion-input [(ngModel)]="username" id="Username" name="username" type='text'></ion-input>
                <ion-icon name="contact" slot="end"></ion-icon>
            </ion-item>

            <ion-item class="item" no-padding>
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="email" id="email" name="email" type='text'
                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                           required></ion-input>
                <ion-icon name="mail" slot="end"></ion-icon>
            </ion-item>

            <ion-item class="item" no-padding>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" id="password" name="password" type='text' minlength="6"
                           required></ion-input>
                <ion-icon name="key" slot="end"></ion-icon>
            </ion-item>

            <ion-item class="item" no-padding>
                <ion-label position="floating">Repeat Password</ion-label>
                <ion-input [(ngModel)]="repeatpassword" id="repeatpassword" name="password" type='text' minlength="6"
                           required></ion-input>
                <ion-icon name="key" slot="end"></ion-icon>
            </ion-item>


            <!--


                  <ion-item class="input">
                    <ion-label position="floating">Name</ion-label>
                    <ion-input value="" formControlName="password" type="password" required="true"></ion-input>
                    <ion-icon name="key" slot="end"></ion-icon>
                  </ion-item>




                  <ion-item class="input">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input value="" formControlName="password" type="password" required="true"></ion-input>
                    <ion-icon name="key" slot="end"></ion-icon>
                  </ion-item>


                  <ion-item class="input">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input value="" formControlName="password" type="password" required="true"></ion-input>
                    <ion-icon name="key" slot="end"></ion-icon>
                  </ion-item>

                  <ion-item class="input">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input value="" formControlName="password" type="password" required="true"></ion-input>
                    <ion-icon name="key" slot="end"></ion-icon>
                  </ion-item>

            -->
        </ion-list>

        <ion-button [disabled]="!signupForm.valid || password !== repeatpassword" type="submit" id="signupButton"
                    expand="block" size="large"
                    color="primary">
            sign up
            <ion-icon name="login"></ion-icon>
        </ion-button>
    </form>


    <div id="text">
        <p>Already have an Account?</p>
        <p>Login
            <ion-label color="primary" routerLink="/login" routerDirection="back">here</ion-label>
        </p>
    </div>
</ion-content>
