<ion-header>
    <ion-toolbar color="primary">
        <ion-title><p align="center">Your Profile</p></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
    <div class="quick_display">
        <img class="profile_image" src="../../../assets/images/im6.jpg">
        <div class="essentials">
            <h2>This is my firm</h2>
            <p>We operate in space and are available 24/7.</p>
        </div>
    </div>

    <div>
        <img class="pictures" src="../../../assets/images/im10.jpg">
    </div>
    <ion-card class="description" color="light">
        <ion-card-header>
            <ion-card-title>
                <h4>Service Description</h4>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
           <p>{{serviceDescription}}</p>
            <div *ngIf="clickedService" class="editSpace">
                <ion-textarea placeholder="Enter information" [(ngModel)]="tempServiceDescription"></ion-textarea>
            </div>
            <ion-button class="edit/saveButton" (click)="editService()">{{serviceButtonContent}}</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card class="description" color="light">
        <ion-card-header>
            <ion-card-title>
                <h4>About the owner</h4>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ownerDescription}}</p>
            <div *ngIf="clickedOwner" class="editSpace">
                <ion-textarea placeholder="Enter information" [(ngModel)]="tempOwnerDescription"></ion-textarea>
            </div>
            <ion-button class="edit/saveButton" (click)="editOwner()">{{ownerButtonContent}}</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
