<ion-header>
    <ion-toolbar color="primary">
        <ion-title><p align="center">Notifications</p></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="content">
        <ion-card-header>
            <ion-card-title> Unread </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p> You have 0 new notifications.</p>
        </ion-card-content>
    </ion-card>

  <ion-card class="content">
    <ion-card-header>
      <ion-card-title> Read </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> You have 0  read notifications.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
