<ion-header>
  <ion-toolbar color="primary">
    <ion-title><p align="center">Settings</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header [(ngModel)]="profile" button="true" (click)="changeState(profile)">
      <ion-card-title class="card_title">Profile
        <ion-icon *ngIf="!expanded(profile)" name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="expanded(profile)" name="arrow-dropup"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="expanded(profile)">
      <ion-item>
        <p>Logout</p>
        <ion-button slot="end"><ion-icon name="log-out" (click)="logout()"></ion-icon></ion-button>
      </ion-item>

      <ion-item>
        <p>Create Provider Account!</p>
        <ion-button slot="end"><ion-icon name="add-circle-outline" (click)="createProviderAccount()"></ion-icon></ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header [(ngModel)]="settings" button="true" (click)="changeState(settings)">
      <ion-card-title>Settings
      <ion-icon *ngIf="!expanded(settings)" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="expanded(settings)" name="arrow-dropup"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="expanded(settings)">
      <p></p>
    </ion-card-content>
  </ion-card>
</ion-content>


