<ion-header>
    <ion-toolbar color="primary">
        <ion-title><p align="center">Settings</p></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="content">
        <ion-card-header>
            <ion-card-title class="card_title">Profile</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item (click)="logout()">
                <p>Logout</p>
                <ion-icon name="log-out" slot="end" color="primary"></ion-icon>
            </ion-item>

            <ion-item (click)="createProviderAccount()">
                <p>Create Provider Account</p>
                <ion-icon name="add-circle-outline" slot="end" color="primary"></ion-icon>
            </ion-item>

            <ion-item (click)="confirmDeleteAccount()">
                <p>Delete Account</p>
                <ion-icon name="trash" slot="end" color="primary"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card class="content">
        <ion-card-header name="settings">
            <ion-card-title>Settings</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item *ngIf="isAdmin" (click)="adminPage()">
                <p>Admin Page</p>
                <ion-icon name="cube" slot="end" color="primary"></ion-icon>
            </ion-item>

            <ion-item>
                <p>Show Hints</p>
                <ion-checkbox [checked]="showHints" slot="end" color="primary" (ionChange)="showHintsChanged()"></ion-checkbox>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
