
#text {
  font-size: 12pt;
  margin-bottom: 5%;
  height: 40pt;
  overflow: hidden;
}

#text_2 {
  text-align: right;
  font-size: 12pt;
}

#title {
  font-size: 20pt;
}

#image {
  height: 100pt;
  object-fit: cover;
}
