ion-slide{
  padding: 300px;
  display:block;
  h1{
    display: flex;
    font-size: 36px;
    font-weight:bold;

  }
  p{
    display:flex;
  }

}




#bild {
  display: flex;
  position:absolute;
  overflow: hidden;
  size: 100%;

}


