/*
ion-slide {
  padding: 20%;
  display: flex;
  width: 50%;
  justify-content: center;


  h1 {
    display: flex;
    font-size: 36px;
    font-weight: bold;
  }

  p {
    display: flex;
  }

}

.bild {
  display: flex;
  position: center;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.welcomeTitleAndText {
  display: flex;
  flex-direction: column;
}
*/


#slides {
  position: fixed;
  width: 100%;
  top: 0%;
  bottom: 15%;
}

#startButton {
  position: fixed;
  bottom: 0%;
  margin: 5%;
  width: 90%;
}

.slide {
  padding: 5%;
}
