
<ion-content>
    <div class="slides-container">
    <ion-slides #slides class="slides-container">
        <ion-slide class="slide-page-one">
            <img src="/assets/welcome/slide1.jpg" alt=""/>
        </ion-slide>

        <ion-slide  class="slide-page-two">
            <img src="/assets/welcome/slide2.jpg" alt=""/>
        </ion-slide>

        <ion-slide  class="slide-page-three">
            <h1>Slide 3</h1>
        </ion-slide>

    </ion-slides>
        <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black" (click)="prevSlide()"></button>
        <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black" (click)="nextSlide()"></button>
    </div>
    <ion-button id="startButton" expand="block" color='warning' size="large" (click)="navigateToLoginPage()">Start</ion-button>
</ion-content>

