ion-slide {
  padding: 20%;
  display: flex;
  width: 50%;
  justify-content: center;


  h1 {
    display: flex;
    font-size: 36px;
    font-weight: bold;
  }

  p {
    display: flex;
  }

}

.bild {
  display: flex;
  position: center;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.welcomeTitleAndText {
  display: flex;
  flex-direction: column;
}


